/* You can add global styles to this file, and also import other style files */

// @import 'tailwindcss';
@use '@picocss/pico/scss/pico' with (
  $semantic-root-element: 'app-root',
  $enable-semantic-container: true
);

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
